body {
  font-family: 'Roboto', sans-serif;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#resultMessage.show {
  animation: slide-in-left 0.5s ease-out;
}

@media (min-width: 300px) {
  #resultMessage {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 70% !important;
    margin: 0 !important;
  }
}

@media (min-width: 300px) {
  #searchForm {
    margin-bottom: 12px !important;
  }
}

#resultMessage.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

#searchInput:focus {
  outline: none;
  box-shadow: none;
}

@media (min-width: 576px) {
  #searchForm {
    width: 80%;
    margin-bottom: 0 !important;
    margin: 0px auto;
  }
}

@media (max-width: 576px) {
  #searchForm {
    width: 60%;
    margin: 0px auto;
  }
}

@media (min-width: 576px) {
  #resultMessage {
    padding: inherit;
    margin: 10px auto !important;
    align-items: center;
    width: 50%;
  }
}

.styleCardH5 {
  font-family: Merienda, 'Roboto';
}

